{### modal-confirm: finestra modale usata per confermare azioni ###}
{###    parametri: - ###}
<div class="modal fade" id="gs-modal-confirm" tabindex="-1" role="dialog" aria-labelledby="gs-modal-confirm-titolo">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <h5 class="modal-title" id="gs-modal-confirm-titolo"></h5>
        <button type="button" class="close p-0" data-dismiss="modal" aria-label="{{ 'label.close'|trans }}">
          <svg class="icon" aria-hidden="true"><use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg#times') }}"></use></svg>
        </button>
      </div>
      <div class="modal-body" id="gs-modal-confirm-contenuto"></div>
      <div class="modal-footer mx-auto">
        <a class="btn btn-primary btn-xs" id="gs-modal-confirm-yes" href="#" role="button">{{ 'label.continua'|trans }}</a>
        <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
      </div>
    </div>
  </div>
</div>
