{### modal-info: finestra modale usata per mostrare informazioni sulla stessa pagina ###}
{###    parametri: - ###}
<div class="modal fade" id="gs-modal-info" tabindex="-1" role="dialog" aria-labelledby="gs-modal-info-titolo">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <h5 class="modal-title" id="gs-modal-info-titolo"></h5>
        <button type="button" class="close p-0" data-dismiss="modal" aria-label="{{ 'label.close'|trans }}">
          <svg class="icon" aria-hidden="true"><use xlink:href="{{ asset('vendor/fontawesome/sprites/solid.svg#times') }}"></use></svg>
        </button>
      </div>
      <div class="modal-body" id="gs-modal-info-contenuto"></div>
      <div class="modal-footer mx-auto">
        <button type="button" class="btn btn-primary btn-xs mx-auto" data-dismiss="modal">{{ 'label.close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
