{% extends 'tema-new/layout-base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <h1 class="text-center mb-4">{{ titolo|trans }}</h1>
  {% include 'tema-new/include/form.html.twig' with {form: form[0], form_help: form[1]} %}
</div>
{% endblock %}

{% block pagina_js_fine %}
<script>
$(document).ready(function() {
  $("#ata_tipo").on("change", function() {
    var s = $('#ata_segreteria');
    if ($(this).val() == 'D' || $(this).val() == 'A') {
      s.prop('disabled', false);
      s.siblings('.btn').removeClass('disabled');
      s.parents('.bootstrap-select').removeClass('disabled');
      s.parents('.bootstrap-select-wrapper').removeClass('disabled');
    } else {
      s.selectpicker('val', '0');
      s.prop('disabled', true);
      s.siblings('.btn').addClass('disabled');
      s.parents('.bootstrap-select').addClass('disabled');
      s.parents('.bootstrap-select-wrapper').addClass('disabled');
    }
  }).change();
});
</script>
{% endblock %}
