{% extends 'tema-new/layout-base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <h1 class="text-center mb-4">{{ titolo|trans }}</h1>

  <p>La presente informativa, parte integrante delle informazioni sul trattamento dei dati personali,
    è resa anche ai sensi dell’articolo 122 del decreto legislativo 196/2003 e del Provvedimento del Garante
    per la protezione dei dati personali n.229/2014.
  </p>

  <h2>Cosa sono i cookie?</h2>
  <p>I cookie sono file di dimensioni ridotte inviati dal sito web visitato e memorizzati sul dispositivo
    dell'utente. Successivamente, quando si accede nuovamente al sito web, le informazioni memorizzate in questi
    file possono essere lette e utilizzate per vari scopi.
    A seconda delle finalità di impiego i cookie possono essere suddivisi in due categorie:</p>
  <ul>
    <li><strong>COOKIE TECNICI E ANALITICI</strong><br>
      I <em>cookie tecnici</em> servono per la navigazione e per facilitare l'accesso e la fruizione del sito da parte dell'utente.
        Si limitano a memorizzare alcuni dati strettamente necessari alla realizzazione della comunicazione su una rete internet.<br>
      I <em>cookie analitici</em> consentono di raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito web,
      permettendo all’utente di usufruire di determinate funzionalità del sito, come la scelta della lingua o della modalità di visualizzazione.<br>
      Per l'uso di questo tipo di cookie è sufficiente il rilascio della presente informativa.</p>
    </li>
    <li><strong>COOKIE DI PROFILAZIONE</strong><br>
      I <em>cookie di profilazione</em> sono finalizzati alla creazione di profili degli utenti, con informazioni sulle
      preferenze manifestate durante la navigazione in rete, allo scopo di inviare messaggi pubblicitari personalizzati.<br>
      In ragione della particolare invasività che tale tecnica di profilazione può avere nell'ambito della sfera privata
      degli utenti, la normativa europea e italiana prevede che si debba essere adeguatamente informati
      sul loro uso per poter esprimere così il proprio consenso.
    </li>
  </ul>

  <h2>Quali cookie usa questo sito?</h2>
  <p>Non viene fatto uso di <em>cookie di profilazione</em>, né vengono utilizzati i cosiddetti <em>cookie persistenti</em> di alcun tipo,
    ovvero sistemi per il tracciamento degli utenti.<br>
    L'uso dei <em>cookie di sessione</em> (che non vengono memorizzati in modo persistente sul computer dell'utente e svaniscono con la chiusura del browser)
    è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server)
    necessari per consentire l'esplorazione sicura ed efficiente del sito.<br>
    I cookie utilizzati in questo sito appartengono quindi alla categoria dei <em>cookie tecnici</em> ed evitano il ricorso ad altre tecniche informatiche potenzialmente
    pregiudizievoli per la riservatezza della navigazione degli utenti, non
    consentendo l'acquisizione di dati personali identificativi dell'utente.</p>

</div>
{% endblock %}
