{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container_fluid gs-mt-0">
  {% if manutenzione is not empty %}
  <div class="col-sm-12 bg-danger gs-mb-4 text-center">
    <h1 class="gs-h2">ATTENZIONE</h1>
    <p>
      <span class="gs-big">A causa di una manutenzione programmata del sistema informatico, il registro elettronico non sarà disponibile
      <strong>dalle ore {{ manutenzione[1] }} alle ore {{ manutenzione[2] }}</strong>.</span>
    </p>
  </div>
  {% endif %}
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 gs-mt-4">
    <div class="panel panel-primary" >
      <div class="panel-heading">
        <div class="panel-title">Accesso al Registro Elettronico tramite app</div>
      </div>
      <div class="panel-body" >
        <div class="help-block"><span class="gs-text-normal"><em>Questo metodo di accesso al Registro Elettronico è utilizzabile solo dai genitori e dagli alunni.</em></span></div>
        {% if errore %}<div class="alert alert-danger">{{ errore.message|trans }}</div>{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
