{% extends 'tema-new/layout-base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <h1 class="text-center mb-4">{{ titolo|trans }}</h1>
  {{ include('tema-new/include/form.html.twig', {form: form[0], form_help: form[1]}) }}
</div>
{% endblock %}

{% block pagina_js_fine %}
  {{ include('tema-new/include/datepicker.html.twig', {dp_field: 'configurazione_data_inizio', dp_disabled: null, dp_week: null, dp_min: null, dp_max: null}) }}
  {{ include('tema-new/include/datepicker.html.twig', {dp_field: 'configurazione_data_fine', dp_disabled: null, dp_week: null, dp_min: null, dp_max: null}) }}
{% endblock %}
