{% extends 'tema-new/layout-base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <h1 class="text-center mb-4">{{ titolo|trans({anno: info.nuovoAnno~'/'~(info.nuovoAnno + 1)}) }}</h1>
  {{ include('tema-new/include/form.html.twig', {form: form[0], form_help: form[1]}) }}
</div>
{% endblock %}
