# config/packages/framework.yaml

framework:
  secret: '%env(APP_SECRET)%'
  ide: atom
  form:
    enabled: true
  csrf_protection:
    enabled: true
  session:
    enabled: true
    cookie_samesite: lax
    cookie_secure: auto
    cookie_httponly: true
    sid_length: 64
    sid_bits_per_character: 5
    save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
  property_info:
    enabled: false
  annotations:
    enabled: true
    cache: file
  serializer:
    enabled: true
    enable_annotations: true
  php_errors:
    log: true
  web_link: true
