# config/packages/framework.yaml

framework:
  secret: '%env(APP_SECRET)%'
  ide: 'vscode'
  http_method_override: false
  handle_all_throwables: true
  form:
    enabled: true
  csrf_protection:
    enabled: true
  session:
    enabled: true
    handler_id: 'session.handler.native_file'
    storage_factory_id: 'session.storage.factory.native'
    cookie_samesite: 'lax'
    cookie_secure: 'auto'
    cookie_httponly: true
    sid_length: 64
    sid_bits_per_character: 5
    save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
  property_access:
    enabled: true
    throw_exception_on_invalid_index: false
    throw_exception_on_invalid_property_path: false
  property_info:
    enabled: false
  annotations: false
  serializer:
    enabled: true
    enable_attributes: true
  php_errors:
    log: true
  web_link:
    enabled: true


when@prod:
  framework:
    cache:
      pools:
        doctrine.result_cache_pool:
          adapter: cache.app
        doctrine.system_cache_pool:
          adapter: cache.system


when@test:
  framework:
    test: true
    # session:
      # storage_factory_id: session.storage.factory.mock_file
