knpu_oauth2_client:
  clients:
    gsuite:
      type: google
      client_id: '%env(OAUTH_GOOGLE_CLIENT_ID)%'
      client_secret: '%env(OAUTH_GOOGLE_CLIENT_SECRET)%'
      # a route name you'll create
      redirect_route: login_gsuite_check
      redirect_params: {}
      # Optional value for sending access_type parameter. More detail: https://developers.google.com/identity/protocols/OpenIDConnect#authenticationuriparameters
      access_type: null
      # Optional value for sending hd parameter. More detail: https://developers.google.com/identity/protocols/OpenIDConnect#hd-param
      hosted_domain: '%env(OAUTH_GOOGLE_CLIENT_HD)%'
      # Optional value for additional fields to be requested from the user profile. If set, these values will be included with the defaults. More details: https://developers.google.com/+/web/api/rest/latest/people
      user_fields: {}
      # Optional value if you don't want or need to enable Google+ API access.
      use_oidc_mode: false
      # whether to check OAuth2 'state': defaults to true
      use_state: true
