# config/packages/messenger.yaml

framework:
  messenger:
    reset_on_message: true
    failure_transport: errore
    transports:
      notifica:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          auto_setup: false
          table_name: gs_messenger_messages
          queue_name: notifica
        retry_strategy:
          max_retries: 3
          delay: 600000
          multiplier: 4
          max_delay: 0
      avviso:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          auto_setup: false
          table_name: gs_messenger_messages
          queue_name: avviso
        retry_strategy:
          max_retries: 3
          delay: 10000
          multiplier: 3
          max_delay: 0
      evento:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          auto_setup: false
          table_name: gs_messenger_messages
          queue_name: evento
        retry_strategy:
          max_retries: 3
          delay: 10000
          multiplier: 3
          max_delay: 0
      circolare:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          auto_setup: false
          table_name: gs_messenger_messages
          queue_name: circolare
        retry_strategy:
          max_retries: 3
          delay: 10000
          multiplier: 3
          max_delay: 0
      errore:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          auto_setup: false
          table_name: gs_messenger_messages
          queue_name: errore
        retry_strategy:
          max_retries: 3
          delay: 3600000
          multiplier: 1
          max_delay: 0
    routing:
      'App\Message\NotificaMessage': notifica
      'App\Message\AvvisoMessage': avviso
      'App\Message\EventoMessage': evento
      'App\Message\CircolareMessage': circolare
