/.git/
/.github/
/DEV/
/docker/*
!/docker/*.conf
!/docker/*.sh
/FILES/archivio/classi/*
!/FILES/archivio/classi/.gitkeep
/FILES/archivio/registri/*
!/FILES/archivio/registri/.gitkeep
/FILES/archivio/scrutini/*
!/FILES/archivio/scrutini/.gitkeep
/FILES/tmp/*
!/FILES/tmp/.gitkeep
/FILES/upload/avvisi/*
!/FILES/upload/avvisi/.gitkeep
/FILES/upload/circolari/*
!/FILES/upload/circolari/.gitkeep
/FILES/upload/foto/*
!/FILES/upload/foto/.gitkeep
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/.env.*.local
/.dockerignore
