
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/bin/*
!/bin/.gitkeep
/public/bundles/
/var/cache/*
/var/log/*
/var/sessions/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep
/vendor/*
!/vendor/.gitkeep
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> trinko/giuaschool ###
/DEV/
/FILES/
/public/app/
/src/Command/Argo/
/templates/argo/
/public/img/.local/
###< trinko/giuaschool ###
