/config/metadata/*
!/config/metadata/.gitkeep
/config/secrets/*
!/config/secrets/.gitkeep
/DEV/
/FILES/archivio/circolari/*
!/FILES/archivio/circolari/.gitkeep
/FILES/archivio/classi/*
!/FILES/archivio/classi/.gitkeep
/FILES/archivio/registri/*
!/FILES/archivio/registri/.gitkeep
/FILES/archivio/scrutini/*
!/FILES/archivio/scrutini/.gitkeep
/FILES/tmp/*
!/FILES/tmp/.gitkeep
/FILES/upload/avvisi/*
!/FILES/upload/avvisi/.gitkeep
/FILES/upload/circolari/*
!/FILES/upload/circolari/.gitkeep
/FILES/upload/foto/*
!/FILES/upload/foto/.gitkeep
/public/app/*
!/public/app/.gitkeep
/public/bundles/
/public/img/.local/
/public/spid/
/src/Command/Argo/
/src/Controller/TestController.php
/templates/argo/
/templates/info/.local/
/templates/tema-new/info/.local/
/tests/temp/*
!/tests/temp/.gitkeep
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/vendor/*
!/vendor/.gitkeep
/.env.*.local
/.env.local
/.env.local.php
/.tags
/last_deploy.date
