###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/vendor/*
!/vendor/.gitkeep
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> trinko/giuaschool ###
/last_deploy.date
/config/secrets/*
!/config/secrets/.gitkeep
/DEV/
/FILES/archivio/classi/*
!/FILES/archivio/classi/.gitkeep
/FILES/archivio/registri/*
!/FILES/archivio/registri/.gitkeep
/FILES/archivio/scrutini/*
!/FILES/archivio/scrutini/.gitkeep
/FILES/tmp/*
!/FILES/tmp/.gitkeep
/FILES/upload/avvisi/*
!/FILES/upload/avvisi/.gitkeep
/FILES/upload/circolari/*
!/FILES/upload/circolari/.gitkeep
/FILES/upload/foto/*
!/FILES/upload/foto/.gitkeep
/public/app/*
!/public/app/.gitkeep
/public/img/.local/
/src/Command/Argo/
/src/Controller/TestController.php
/src/DataFixtures/AppLocalFixtures.php
/templates/argo/
/tests/temp/
###< trinko/giuaschool ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
