<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
  backupGlobals="false"
  colors="true"
  bootstrap="config/bootstrap.php"
  backupStaticAttributes="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
>
  <php>
    <ini name="error_reporting" value="-1" />
    <server name="APP_ENV" value="test" force="true" />
    <server name="SHELL_VERBOSITY" value="-1" />
    <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
    <server name="SYMFONY_PHPUNIT_VERSION" value="6.5" />
    <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
  </php>
  <testsuites>
    <testsuite name="Unit Test Suite">
      <directory>tests/UnitTest</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src</directory>
      <exclude>
        <directory>src/DataFixtures</directory>
        <directory>src/Migrations</directory>
      </exclude>
    </whitelist>
  </filter>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
  </listeners>
</phpunit>
