<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  cacheDirectory="tests/temp/.phpunit.cache"
  colors="true"
>
  <php>
    <ini name="display_errors" value="1" />
    <ini name="error_reporting" value="-1" />
    <server name="APP_ENV" value="test" force="true" />
    <server name="SHELL_VERBOSITY" value="-1" />
    <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
    <server name="SYMFONY_PHPUNIT_VERSION" value="11.4" />
    <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
  </php>
  <testsuites>
    <testsuite name="entity">
      <directory>./tests/UnitTest/Entity</directory>
    </testsuite>
    <testsuite name="extension">
      <directory>./tests/UnitTest/Twig</directory>
      <directory>./tests/UnitTest/DQL</directory>
    </testsuite>
    <testsuite name="message">
      <directory>./tests/UnitTest/Message</directory>
      <directory>./tests/UnitTest/MessageHandler</directory>
    </testsuite>
    <testsuite name="repository">
      <directory>./tests/UnitTest/Repository</directory>
    </testsuite>
    <testsuite name="security">
      <directory>./tests/UnitTest/Security</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./src/Controller</directory>
      <directory>./src/DataFixtures</directory>
      <directory>./src/Install</directory>
      <file>./src/Kernel.php</file>
    </exclude>
  </source>
</phpunit>
