<div class="modal fade" id="gs-modal-waiting" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="gs-modal-waiting-title">Attendere, prego...</h3>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
