<nav>
  <ul class="nav nav-tabs">
    <li role="presentation"{{ app.request.attributes.get('_route') == 'staff_programmi' ? ' class="active"' }}><a href="{{ path('staff_programmi') }}" title="Inserimento dei programmi svolti">Programmi</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route') == 'staff_relazioni' ? ' class="active"' }}><a href="{{ path('staff_relazioni') }}" title="Inserimento delle relazioni finali">Relazioni</a></li>
  </ul>
</nav>

