{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">

  <h1>Informativa sulla Privacy</h1>
  <p>Questa informativa ha l'obiettivo di illustrare la politica adottata dall’Istituto in merito al trattamento dei dati personali che vengono diffusi, comunicati e raccolti durante la navigazione sul presente sito web (ai sensi del D.Lgs. n. 196/2003 recante il <em>"Codice in materia di protezione dei dati personali"</em>).</p>
  <p>L'informativa non è valida per altri siti eventualmente consultabili seguendo i link ipertestuali presenti nelle pagine di questo sito.</p>

  <h2>Finalità del trattamento</h2>
  <p>I dati personali forniti potranno essere trattati unicamente per le finalità strettamente connesse e necessarie alla fruizione del sito e dei servizi richiesti.</p>

  <h2>Tipi di dati trattati</h2>
  <ul>
    <li>
      <strong>Dati di navigazione</strong><br>
      I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet. Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti. In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente. Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull'uso del sito e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo l'elaborazione. I dati potrebbero essere utilizzati per l'accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito: salva questa eventualità, allo stato i dati sui contatti web non persistono per più di trenta giorni.
    </li>
    <li>
      <strong>Dati forniti volontariamente dall'utente</strong><br>
      L'invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell'indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva. Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi a richiesta.
    </li>
    <li>
      <strong>Uso dei cookie</strong><br>
      Nessun dato personale degli utenti viene in proposito acquisito dal sito. Non viene fatto uso di cookie per la trasmissione di informazioni di carattere personale, né vengono utilizzati i cosiddetti <em>cookie persistenti</em> di alcun tipo, ovvero sistemi per il tracciamento degli utenti. L'uso dei <em>cookie di sessione</em> (che non vengono memorizzati in modo persistente sul computer dell'utente e svaniscono con la chiusura del browser) è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server) necessari per consentire l'esplorazione sicura ed efficiente del sito. I <em>cookie di sessione</em> utilizzati in questo sito evitano il ricorso ad altre tecniche informatiche potenzialmente pregiudizievoli per la riservatezza della navigazione degli utenti e non consentono l'acquisizione di dati personali identificativi dell'utente.
    </li>
  </ul>

  <h2>Modalità del trattamento</h2>
  <p>Il trattamento dei dati personali consiste nella raccolta, registrazione, organizzazione, conservazione, elaborazione, modificazione, selezione, estrazione, raffronto, utilizzo, interconnessione, blocco, comunicazione, diffusione, cancellazione e distruzione dei medesimi dati, comprese la combinazione di due o più delle suddette operazioni. Il trattamento dei dati personali è effettuato per le finalità di cui sopra, in conformità a quanto stabilito dall'articolo 11 del D.Lgs. n. 196/2003, sia su supporto cartaceo, informatico che telematico, per mezzo di strumenti elettronici o comunque automatizzati, nel rispetto delle regole di riservatezza e di sicurezza previste dalla normativa vigente. I dati saranno conservati per un periodo di tempo non superiore a quello necessario agli scopi per i quali essi sono stati raccolti o successivamente trattati conformemente a quanto previsto dagli obblighi di legge.</p>

  <h2>Natura del conferimento dei dati personali</h2>
  <p>Il conferimento dei dati personali è facoltativo. L'eventuale rifiuto di conferirli può comportare l'impossibilità di utilizzare il sito e fruire dei relativi servizi.</p>

  <h2>Comunicazione e diffusione dei dati</h2>
  <p>Il trattamento dei dati connessi ai servizi erogati da questo sito ha luogo presso la sede dell'Istituto ed è curato esclusivamente dal personale scolastico. Nessun dato derivante dall'uso del sito web viene comunicato o diffuso a terzi. I dati personali forniti dagli utenti sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e non sono comunicati a soggetti terzi, salvo che la comunicazione sia imposta da obblighi di legge o sia strettamente necessaria per l'adempimento del servizio stesso.</p>

  <h2>Diritti dell'interessato</h2>
  <p>I soggetti ai quali si riferiscono i dati personali hanno il diritto di ottenere, in qualunque momento, la conferma dell'esistenza o meno di tali dati, di conoscerne il contenuto e l'origine, verificarne l'esattezza, chiederne l'integrazione, l'aggiornamento, la rettifica, la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché di opporsi al loro trattamento, come stabilito dall'art. 7 del Decreto Legislativo 196/2003.</p>

  <h2>Titolare del trattamento</h2>
  <p>Titolare del trattamento dei dati è l'Istituto, al quale ci si potrà rivolgere per esercitare i diritti di cui all'articolo 7 del D.Lgs. 196/2003.</p>

</div>
{% endblock %}
