/*** slim header ***/
#gs-header .it-header-slim-wrapper {
  background-color: #00264d; /* colore primario, variante a11 */
}
#gs-header .header-slim-right-zone a.btn-default:hover {
  background-color: #435a70; /* colore secondario */
}


/*** menu principale ***/
#gs-header nav {
  margin-top: -1px;
}
#gs-header nav button.custom-navbar-toggler {
  padding: 0.2rem;
  margin-left: 2px;
  margin-top: 0;
}
#gs-header.is-sticky nav button.custom-navbar-toggler {
  margin-top: -0.54rem;
}
#gs-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.active {
  background-color: #FFFFFF;
  color: #0066CC;
  border-bottom: 2px solid #435A70;
  border-top: 1px solid #435A70;
}
#gs-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.active:hover {
  color: #0066CC;
  text-decoration: underline;
}
#gs-header nav.navbar .expanded ul.navbar-nav li.nav-item a.nav-link.active {
  border-top: 0;
  border-bottom: 0;
}
#gs-header .link-list-wrapper ul li a, #gs-header .navbar ul li a {
  font-weight: 600;
}
#gs-header .dropdown-menu {
  border: 1px solid #b1b1b3!important;
  border-top: 0!important;
}
#gs-mainmenu .menu-wrapper .navbar-nav ul li span.disabled {
  line-height: 2.3em;
  font-size: .889em;
  font-weight: 600;
  display: block;
  padding: 0 24px;
  position: relative;
  cursor: not-allowed;
  opacity: .5;
}
#gs-mainmenu .navbar-nav .nav-link.dropdown-toggle.active + .dropdown-menu:before {
  display: none;
}
#gs-mainmenu > div.menu-wrapper > ul > li.nav-item.dropdown.show > div {
  border: solid 4px #ff0000;
}

/*** breadcrumb ***/
#gs-header .breadcrumb-container {
  font-size: 0.8rem;
}
#gs-header .breadcrumb-item .separator::after {
  content: ">";
}


/*** footer ***/
#gs-footer .it-footer-main h2 {
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: unset;
  line-height: 1.1;
}
#gs-footer .it-footer-main h3 {
  font-size: 0.889em;
  font-weight: 400;
}
#gs-footer .it-footer-main h4 {
  text-transform: uppercase;
  font-size: 1em;
}
#gs-footer .it-footer-main p {
  font-size: 0.9em;
}
#gs-footer .it-footer-small-prints a:hover {
  text-decoration: underline;
}


/*** contenuto ***/
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
.card:after {
  content: none;
}
img.svg {
  overflow: hidden;
}


/*** form ***/
legend {
  margin-bottom: 0;
  font-size: 1.2rem;
}
.form-group {
  margin-bottom: 1rem;
}
.form-check-inline {
  margin-right: 1.5rem;
}
.form-check input[type=radio]:checked+label {
  font-weight: 600;
}
