/*** slim header ***/
#gs-header .it-header-slim-wrapper {
  background-color: #00264d; /* colore primario, variante a11 */
}
#gs-header .header-slim-right-zone a.btn-default:hover {
  background-color: #435a70; /* colore secondario */
}


/*** menu principale ***/
#gs-header nav {
  margin-top: -1px;
}
#gs-header nav button.custom-navbar-toggler {
  padding: 0.2rem;
  margin-left: 2px;
  margin-top: 0;
}
#gs-header.is-sticky nav button.custom-navbar-toggler {
  margin-top: -0.54rem;
}
#gs-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.active {
  background-color: #FFFFFF;
  color: #0066CC;
  border-bottom: 2px solid #435A70;
  border-top: 1px solid #435A70;
}
#gs-header nav.navbar ul.navbar-nav li.nav-item a.nav-link.active:hover {
  color: #0066CC;
  text-decoration: underline;
}
#gs-header nav.navbar .expanded ul.navbar-nav li.nav-item a.nav-link.active {
  border-top: 0;
  border-bottom: 0;
}
#gs-header .link-list-wrapper ul li a, #gs-header .navbar ul li a {
  font-weight: 600;
}
#gs-header .dropdown-menu {
  border-left: 1px solid #b1b1b3!important;
  border-right: 2px solid #818183!important;
  border-bottom: 2px solid #818183!important;
  border-top: 0!important;
}
#gs-header .divider {
  width: auto;
  margin-left: 0;
}
#gs-mainmenu.expanded .dropdown-menu {
  border: 0!important;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: #d1d1d3;
}
#gs-mainmenu .menu-wrapper .navbar-nav ul li span.disabled {
  line-height: 2.3em;
  font-size: .889em;
  font-weight: 600;
  display: block;
  padding: 0 24px;
  position: relative;
  cursor: not-allowed;
  opacity: .5;
}
#gs-mainmenu .navbar-nav .nav-link.dropdown-toggle.active + .dropdown-menu:before {
  display: none;
}


/*** breadcrumb ***/
#gs-header .breadcrumb-container {
  font-size: 0.8rem;
}
#gs-header .breadcrumb-item .separator::after {
  content: ">";
}


/*** footer ***/
#gs-footer .it-footer-main h2 {
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: unset;
  line-height: 1.1;
}
#gs-footer .it-footer-main h3 {
  font-size: 0.889em;
  font-weight: 400;
}
#gs-footer .it-footer-main h4 {
  text-transform: uppercase;
  font-size: 1em;
}
#gs-footer .it-footer-main p {
  font-size: 0.9em;
}
#gs-footer .it-footer-small-prints a:hover {
  text-decoration: underline;
}


/*** contenuto ***/
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
.card:after {
  content: none;
}
.table tfoot tr {
  background-color: #ebeced;
}
.table tfoot td {
  border: 0;
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
}


/*** form ***/
.form-group .required:before {
  content: "* ";
  color: #a31f33;
}
form .alert {
  margin-bottom: 2rem;
}
.form-group legend {
  color: #435a70;
  font-size: 0.777rem;
  font-weight: 600;
  position: absolute;
  top: -1rem;
  display: block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 .5rem;
}
.form-group .form-check-label {
  font-weight: 300;
}
.form-group .form-check-input:checked+label {
  font-weight: 600;
}
.form-group textarea {
  border: 1px solid #979899;
  border-radius: 4px;
}


/*** datepicker ***/
.it-datepicker-wrapper .datepicker-calendar {
  width: auto;
  border-left: 1px solid #b1b1b3!important;
  border-right: 1px solid #b1b1b3!important;
  border-top: 2px solid #435a70!important;
  border-bottom: 1px solid #b1b1b3!important;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}
.it-datepicker-wrapper .input-group .datepicker-button,
.it-datepicker-wrapper .input-group .datepicker-button:hover {
  position: absolute;
}
.it-datepicker-wrapper .input-group .it-date-datepicker {
  margin-left: 32px;
}
.it-datepicker-wrapper .datepicker-calendar.default .datepicker-month-wrap {
  margin-bottom: 5px;
}
.it-datepicker-wrapper .datepicker-calendar.default table.datepicker-grid td.day {
  padding: 0 0.1rem;
}
.it-datepicker-wrapper .datepicker-calendar.default table.datepicker-grid td.month,
.it-datepicker-wrapper .datepicker-calendar.default table.datepicker-grid td.year {
  padding: 0 0.5rem;
}
.it-datepicker-wrapper .datepicker-calendar.default table.datepicker-grid td.curDay span {
  color: #ffffff;
  background-color: #0066CC;
}
.it-datepicker-wrapper .datepicker-calendar.default table.datepicker-grid td.curMonth,
.it-datepicker-wrapper .datepicker-calendar.default table.datepicker-grid td.curYear {
  color: #ffffff;
  background-color: #0066CC;
}
.it-datepicker-wrapper .datepicker-calendar.default .gs-datepicker-today {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: .83333rem;
  letter-spacing: .1px;
  line-height: 1.555;
  font-weight: 700;
  overflow: visible;
  display: inline-block;
  vertical-align: middle;
  border: 0 solid transparent;
  border-radius: 4px;
  background-color: transparent;
  color: #435a70;
}
.it-datepicker-wrapper .datepicker-calendar.default .gs-datepicker-today:hover {
  background-color: #eee;
}


/*** timepicker ***/
.it-timepicker-wrapper .calendar-input-container {
  top: -0.5rem;
}
.it-timepicker-wrapper .form-group small.form-text {
  margin-top: -0.5rem;
}
.it-timepicker-wrapper .btn-time {
  padding-left: 0;
  padding-right: 0;
}
.it-timepicker-wrapper .spinner-control {
  z-index: 2;
  width: auto;
  margin-top: -3rem;
  border-left: 1px solid #b1b1b3!important;
  border-right: 1px solid #b1b1b3!important;
  border-top: 2px solid #435a70!important;
  border-bottom: 1px solid #b1b1b3!important;
  border-radius: 0 0 4px 4px;
}


/*** dynamic collection ***/
fieldset .gs-collection {
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}
fieldset .gs-add-item {
  margin: 0 2rem;
}
