/***** CLASSI PERSONALIZZZATE *****/

.gs-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gs-main-container {
  padding-bottom: 3rem;
  flex: 1 0 auto;
  background-color: #ffffff;
}

.gs-header-top {
  background-color: #00264c;
  color: #ffffff;
}
.gs-header-top a  {
  color: #5bc0de;
}

.gs-navbar {
  background-image: none;
  background-color: #0066cc;
  border-radius: 0;
  border: none;
  min-height: auto;
  margin-bottom: 0;
}
.gs-navbar .gs-navbar-nav>li>a {
  color: #ffffff;
  padding: 0.6rem 1rem 0.6rem 1rem;
}
.gs-navbar .gs-navbar-nav>li>a:hover,
.gs-navbar .gs-navbar-nav>li>a:focus {
  color: #000000;
  background-color: #eeeeee;
  text-decoration: underline;
}
.gs-navbar .gs-navbar-nav>.active>a {
  color: #0066cc;
  background-color: #ffffff;
  background-image: none;
}
.gs-navbar .gs-navbar-nav>.active>a:hover,
.gs-navbar .gs-navbar-nav>.active>a:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  text-decoration: underline;
}

.gs-navbar-header {
  color: #ffffff;
}

.gs-navbar-toggle {
  background-color: #ffffff;
  color: #000000;
}

.gs-navbar-tab {
  padding: 2px 0;
}

.gs-footer-container {
  background-color: #cccccc;
  padding-top: 1rem;
}

.gs-footer-container address {
  margin-bottom: 1rem;
}

.gs-navbar-bottom {
  margin: 0;
  border-radius: 0;
  border: none;
}

.gs-navbar-toggle-bottom {
  background-color: #ffffff;
  color: #000000;
}
.navbar-inverse .gs-navbar-toggle-bottom:hover,
.navbar-inverse .gs-navbar-toggle-bottom:focus,
.navbar-inverse .gs-navbar-toggle-bottom:active  {
  background-color: #cccccc;
  color: #000000;
}

.gs-navbar-submenu ul.nav {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: -6rem;
  padding-top: 6rem;
  background-color: #d9edf7;
}
.gs-navbar-submenu li a {
  color: #0066cc;
  padding: 0.7rem 1.5rem;
}
.gs-navbar-submenu li.active a {
  color: #000000;
  padding: 0.7rem 1.5rem;
}
.gs-navbar-submenu li a:hover,.gs-navbar-submenu li.active a:hover {
  color: #000000;
  text-decoration: underline;
}
.gs-navbar-submenu .dropdown-menu li.active a {
  color: #ffffff;
}

/* submenu */
.gs-dropdown-menu {
  width: 100%;
  position: fixed;
  top: 5rem;
  padding: 0 0.5rem;
  background-color: #d9edf7;
}
@media (min-width: 768px) {
  .gs-dropdown-menu li {
    display:inline-block;
  }
}
.gs-dropdown-menu li a {
  color: #0066cc;
  padding: 0.7rem 1.5rem;
}
.gs-dropdown-menu li.active a {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
  padding: 0.7rem 1.5rem;
}
.gs-dropdown-menu li a:hover,.gs-dropdown-menu li.active a:hover {
  color: #000000;
  background-image: none;
  background-color: #eeeeee;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .gs-navbar .navbar-collapse.collapse.in .gs-navbar-nav li {
    border-bottom: 1px solid #d9edf7;
  }
  .gs-navbar .navbar-collapse.collapse.in .open .gs-dropdown-menu li {
    background-image: none;
    background-color: #d9edf7;
    border-bottom: 1px solid #cccccc;
  }
  .gs-navbar .navbar-collapse.collapse.in .open .gs-dropdown-menu a {
    color: #000000;
  }
  .gs-navbar .navbar-collapse.collapse.in .open .gs-dropdown-menu li.active a {
    color: #000000;
    background-image: none;
    background-color: #ffffff;
  }
  .gs-navbar .navbar-collapse.collapse.in .open .gs-dropdown-menu li a:hover {
    color: #000000;
    background-image: none;
    background-color: #eeeeee;
  }
}

.gs-checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}
.gs-checkbox-inline:hover {
  background-color: #cccccc;
}
.gs-checkbox-inline input[type=checkbox] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
}
.gs-checkbox-inline.active {
  font-weight: bold;
}

.gs-checkbox-split {
  width: 100%;
}

.gs-checkbox:hover {
  background-color: #cccccc;
}
.gs-checkbox.active {
  font-weight: bold;
}

.gs-ml-0 {
  margin-left: 0rem !important;
}
.gs-ml-1 {
  margin-left: 0.25rem !important;
}
.gs-ml-2 {
  margin-left: 0.5rem !important;
}
.gs-ml-3 {
  margin-left: 1rem !important;
}
.gs-ml-4 {
  margin-left: 1.5rem !important;
}
.gs-ml-5 {
  margin-left: 3rem !important;
}
.gs-mr-0 {
  margin-right: 0rem !important;
}
.gs-mr-1 {
  margin-right: 0.25rem !important;
}
.gs-mr-2 {
  margin-right: 0.5rem !important;
}
.gs-mr-3 {
  margin-right: 1rem !important;
}
.gs-mr-4 {
  margin-right: 1.5rem !important;
}
.gs-mr-5 {
  margin-right: 3rem !important;
}
.gs-mt-0 {
  margin-top: 0rem !important;
}
.gs-mt-1 {
  margin-top: 0.25rem !important;
}
.gs-mt-2 {
  margin-top: 0.5rem !important;
}
.gs-mt-3 {
  margin-top: 1rem !important;
}
.gs-mt-4 {
  margin-top: 1.5rem !important;
}
.gs-mt-5 {
  margin-top: 3rem !important;
}
.gs-mb-0 {
  margin-bottom: 0rem !important;
}
.gs-mb-1 {
  margin-bottom: 0.25rem !important;
}
.gs-mb-2 {
  margin-bottom: 0.5rem !important;
}
.gs-mb-3 {
  margin-bottom: 1rem !important;
}
.gs-mb-4 {
  margin-bottom: 1.5rem !important;
}
.gs-mb-5 {
  margin-bottom: 3rem !important;
}

.gs-big {
  font-size: 120%;
}
.gs-small {
  font-size: 90%;
}

.gs-h1 {
  font-size: 1.8em;
  font-weight: bold;
}
.gs-h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.gs-h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.gs-h4 {
  font-size: 1.1em;
  font-weight: bold;
}

.gs-noborder {
  border: none !important;
}

.gs-hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.gs-inline {
  display: inline;
}

.gs-row-eq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gs-pt-0 {
  padding-top: 0rem !important;
}
.gs-pb-0 {
  padding-bottom: 0rem !important;
}
.gs-pr-0 {
  padding-right: 0rem !important;
}
.gs-pl-0 {
  padding-left: 0rem !important;
}
.gs-pt-1 {
  padding-top: 0.25rem !important;
}
.gs-pb-1 {
  padding-bottom: 0.25rem !important;
}
.gs-pr-1 {
  padding-right: 0.25rem !important;
}
.gs-pl-1 {
  padding-left: 0.25rem !important;
}
.gs-pt-2 {
  padding-top: 0.5rem !important;
}
.gs-pb-2 {
  padding-bottom: 0.5rem !important;
}
.gs-pr-2 {
  padding-right: 0.5rem !important;
}
.gs-pl-2 {
  padding-left: 0.5rem !important;
}
.gs-pt-3 {
  padding-top: 1rem !important;
}
.gs-pb-3 {
  padding-bottom: 1rem !important;
}
.gs-pr-3 {
  padding-right: 1rem !important;
}
.gs-pl-3 {
  padding-left: 1rem !important;
}
.gs-pt-4 {
  padding-top: 1.5rem !important;
}
.gs-pb-4 {
  padding-bottom: 1.5rem !important;
}
.gs-pr-4 {
  padding-right: 1.5rem !important;
}
.gs-pl-4 {
  padding-left: 1.5rem !important;
}
.gs-pt-5 {
  padding-top: 3rem !important;
}
.gs-pb-5 {
  padding-bottom: 3rem !important;
}
.gs-pr-5 {
  padding-right: 3rem !important;
}
.gs-pl-5 {
  padding-left: 3rem !important;
}

.gs-bg-muted {
  background-color: #777;
}

.gs-text-normal {
  color: #000;
}

.gs-vertical-top {
  display: flex;
  align-items: flex-start;
}
.gs-vertical-bottom {
  display: flex;
  align-items: flex-end;
}
.gs-vertical-center {
  display: flex;
  align-items: center;
}

.gs-placeholder {
  font-style: italic;
  font-weight: bold;
}
.gs-no-placeholder {
  font-style: normal;
  font-weight: normal;
}

.gs-button-round {
  border-radius: 50%;
}


/***** MODIFICHE A CLASSI ESISTENTI *****/

html {
  height: 100%;
}

body {
  padding-top: 6rem;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
  text-align: center;
}
.bootstrap-datetimepicker-widget table td>span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
}
.bootstrap-datetimepicker-widget table td>span:hover {
  background-color: #eeeeee;
}
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover {
  background: #eeeeee;
  cursor: pointer;
  font-weight: bold;
}
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #888888;
  cursor: not-allowed;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}
.table-hover>tbody>tr:hover {
  background-color: #cccccc;
}
.table-striped>tbody>tr:nth-of-type(even)>td.gs-striped-hilited {
  background-color: #c8fdf7;
}
.table-striped>tbody>tr:nth-of-type(odd)>td.gs-striped-hilited {
  background-color: #9fcac5;
}
.table-hover>tbody>tr:hover>td.gs-striped-hilited {
  background-color: #cccccc;
}

.table > tbody > tr > td.gs-td-middle {
  vertical-align: middle;
}

.form-group>label.required:after {
  content: "*";
  margin-left: 0.25rem;
  color: #0066cc;
}

.radio-inline:hover {
  background-color: #cccccc;
}
.radio-inline.active {
  font-weight: bold;
}
