<div class="modal fade" id="gs-modal-info" tabindex="-1" role="dialog" aria-labelledby="gs-modal-info-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
          <span class="sr-only">{{ 'label.close'|trans }}</span>
        </button>
        <h3 class="modal-title gs-h3" id="gs-modal-info-label"></h3>
      </div>
      <div class="modal-body">
        <div class="list-group" id="gs-modal-info-body"></div>
      </div>
    </div>
  </div>
</div>
