<div class="modal fade in gs-mt-5" id="gs-modal-popup" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header gs-pt-2 gs-pb-0 gs-pr-2 gs-pl-2 gs-noborder">
        <h3 class="modal-title text-center bg-warning gs-pt-2 gs-pb-2"><strong>{{ 'label.warning'|trans }}</strong></h3>
      </div>
      <div class="modal-body bg-warning text-center gs-mr-2 gs-ml-2">
        <p id="gs-modal-popup-msg"><strong class="gs-big">{{ modal_popup_msg }}</strong></p>
      </div>
      <div class="modal-footer gs-noborder gs-pb-2 gs-pt-0 gs-pr-2 gs-pl-2">
        <div class="bg-warning text-center gs-pt-2 gs-pb-2">
          <a class="btn btn-primary gs-mr-3 gs-mb-3" id="gs-modal-popup-do" href="#" role="button"><strong>{{ 'label.faccio_subito'|trans }}</strong></a>
          <button type="button" class="btn btn-default gs-mb-3" data-dismiss="modal"><strong>{{ 'label.faccio_dopo'|trans }}</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
