<div class="modal fade gs-mt-5" id="gs-modal-error" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
          <span class="sr-only">{{ 'label.close'|trans }}</span>
        </button>
        <h3 class="modal-title text-danger"><strong>{{ 'label.warning'|trans }}</strong></h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger gs-mb-2" role="alert">
          <strong id="gs-modal-error-text" class="gs-big"></strong>
        </div>
      </div>
    </div>
  </div>
</div>
