<div class="modal" id="gs-modal-remote" tabindex="-1" role="dialog" aria-labelledby="gs-modal-remote-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="gs-modal-remote-content">
    </div>
  </div>
</div>
