<div style="text-align:center;font-family:times;font-size:11pt">
  <img src="@{{ file64('public/img/'~LOCAL_PATH~'intestazione-documenti.jpg') }}" width="400">
  <br><br><strong>Anno Scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong>
</div>
