{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container_fluid gs-mt-0">
  {% if manutenzione is not empty and 'now'|date('H:i') <= manutenzione[2] %}
  <div class="col-sm-12 bg-danger gs-mb-4 text-center">
    <h1 class="gs-h2">ATTENZIONE</h1>
    <p>
      <span class="gs-big">A causa di una manutenzione programmata del sistema informatico, il registro elettronico non sarà disponibile
      <strong>dalle ore {{ manutenzione[1] }} alle ore {{ manutenzione[2] }}</strong>.</span>
    </p>
  </div>
  {% endif %}
  {% if manutenzione is empty or 'now'|date('H:i') < manutenzione[1] or 'now'|date('H:i') > manutenzione[2] %}
  <div class="col-sm-8 col-sm-offset-2 gs-mt-4">
    <div class="alert alert-{{ messaggio[0] }}">
      <span class="gs-big"><strong>{{ messaggio[1]|trans|raw }}</strong></span>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
