      <div class="col-sm-12 text-center gs-pt-3">
        <a href="{{ path('mimspid_login') }}" style="width:auto" class="italia-it-button italia-it-button-size-m button-spid" title="Usa l'accesso tramite SPID, CIE o eIDAS">
          <span class="italia-it-button-icon"><img src="{{ asset('img/spid-ico-circle-bb.svg') }}" /></span>
          <span class="italia-it-button-text">Entra con SPID - CIE - eIDAS</span>
        </a>
        <a href="#" type="button" class="gs-big gs-ml-2" data-toggle="modal" data-target="#gs-spid-info">
          <strong class="gs-big"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></strong>
        </a>
        <div class="modal fade" id="gs-spid-info" tabindex="-1" role="dialog" aria-labelledby="gs-spid-info-title">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span class="glyphicon glyphicon-remove gs-mr-2" aria-hidden="true"></span>
                  <span class="sr-only">{{ 'label.close'|trans }}</span>
                </button>
                <h3 class="modal-title text-primary gs-h3" id="gs-spid-info-title">Informazioni sulle identità digitali</h3>
              </div>
              <div class="modal-body text-left">
                <h4 class="modal-title text-primary gs-h3" id="gs-spid-info-title">Cos'è SPID?</h4>
                <p>SPID è il sistema di accesso che consente di utilizzare, con un'identità digitale unica, i servizi online della Pubblica Amministrazione e dei privati accreditati.
                  Se sei già in possesso di un'identità digitale, accedi con le credenziali del tuo gestore.
                  Se non hai ancora un'identità digitale, richiedila ad uno dei gestori.</p>
                <h4 class="modal-title text-primary gs-h3" id="gs-spid-info-title">Cos'è CIE?</h4>
                <p>La Carta di Identità Elettronica (CIE) è il documento personale che attesta l’identità del cittadino.
                  Dotata di microprocessore, oltre a comprovare l'identità personale, permette l'accesso ai servizi digitali della Pubblica Amministrazione.</p>
                <h4 class="modal-title text-primary gs-h3" id="gs-spid-info-title">What is eIDAS?</h4>
                <p>The eIDAS regulation is the legislative basis for electronic interactions between businesses, citizens and public authorities, improving the security and efficiency of online services and e-business transactions in the European Union.
                  With the Login with eIDAS button, the Italian node enables the cross-border interoperability of digital identities (eID) and its implementation will enable the circularity of Italian eIDs among EU member states.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'label.close'|trans }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
