    <div class="panel-footer text-right gs-pb-2 gs-pt-2">
      <a href="https://www.spid.gov.it/" target="_blank"><img style="height:2.5em" src="{{ asset('img/spid-agid-logo-lb.png') }}" alt="SPID"></a>
    </div>
