.dropzone {
  background-color: #d9edf7;
}

.dropzone .dz-message span {
  font-weight: bold;
  font-size: 1.2em;
}

.dropzone a.dz-remove {
  font-weight: bold;
  color: red;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
  background: linear-gradient(to bottom, #5cb85c, #777);
}

.dropzone .dz-preview.dz-file-preview.dz-error.dz-complete .dz-image {
  background: linear-gradient(to bottom, #f00000, #777);
}

.dropzone .dz-preview .dz-error-message {
  top: 145px;
}
