# config/services_test.yaml

services:

  _defaults:
    autowire: true
    autoconfigure: true
    bind:               # Pass defined values to any <$name> argument for any service
      $dirProgetto:     '%kernel.project_dir%'

  App\Tests\Behat\:
    resource: '../tests/Behat/*'

  security.user_password_hasher:
    class: Symfony\Component\PasswordHasher\Hasher\UserPasswordHasher
    public: true
    arguments:
      [ '@security.password_hasher_factory' ]

  Fidry\AliceDataFixtures\Loader\PurgerLoader:
    alias: fidry_alice_data_fixtures.doctrine.purger_loader
    public: true

  validator.traceable_validator:
    class: Symfony\Component\Validator\Validator\TraceableValidator
    public: true

  App\Command\AliceLoadCommand:
    arguments:
      $locator: !service_locator
        App\EventListener\LogListener: '@?App\EventListener\LogListener'
