{% extends 'base.html.twig' %}

{% block pagina_submenu %}
  {% include 'utenti/menu_utenti.html.twig' %}
{% endblock %}

{% block pagina_contenuto %}
<div class="container-fluid">
</div>
{% endblock %}
