{% extends 'utenti/index.html.twig' %}

{% block pagina_contenuto %}
<div class="container-fluid">
  <div class="panel panel-primary gs-mt-5">
    <div class="panel-heading">
      <div class="panel-title">{{ 'title.procedura_otp'|trans }}</div>
    </div>
    <div class="panel-body">
  {% if reset %}
      <div class="gs-big gs-pt-3">
        <div class="gs-pb-5">
          <strong>L'OTP è stato già associato all'applicazione.
            Per disattivarlo clicca sul pulsante di CONFERMA.</strong>
        </div>
        {% include('include/form-inline.html.twig') %}
      </div>
  {% else %}
      <div class="pull-left gs-pl-3 gs-pr-5 gs-pt-3 gs-pb-3">
        <img src="{{ qrcode }}" alt="QRcode">
      </div>
      <div class="pull-left gs-pt-3">
        <ol class="gs-big">
          <li>Scarica e installa sul tuo telefono l'app <em>Google Authenticator</em> disponibile ai seguenti indirizzi:<br>
            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Play Store</a> (per dispositivi Android)<br>
            <a href="https://apps.apple.com/it/app/google-authenticator/id388497605" target="_blank">Apple App Store</a> (per dispositivi IOS)
          </li>
          <li>Avvia l'app <em>Google Authenticator</em> e inquadra con la fotocamera il <em>QRcode</em> mostrato a lato.</li>
          <li>Inserisci e conferma il codice che verrà visualizzato dall'app:
            {% include('include/form-inline.html.twig') %}
          </li>
        </ol>
      </div>
  {% endif %}
    </div>
  </div>
</div>
{% endblock %}
