<p>&nbsp;</p>
<table border="0" cellpadding="4" nobr="true">
  <tr nobr="true"><td>Cagliari, {{ 'now'|date('d/m/Y') }}.</td></tr>
  <tr nobr="true"><td style="text-align:right">Il Dirigente Scolastico<br><i>{{ app.session.get('/CONFIG/ISTITUTO/firma_preside') }}</i>&nbsp;&nbsp;</td></tr>
</table>
