<p style="text-align:center">
  <img src="/img/{{ LOCAL_PATH }}intestazione-documenti.jpg" width="540"><br><br>
  <strong>Anno scolastico {{ app.session.get('/CONFIG/SCUOLA/anno_scolastico') }}</strong></span>
</p>
<p>&nbsp;</p>
