{% extends 'base.html.twig' %}

{% block pagina_menu %}
<ul class="nav navbar-nav gs-navbar-nav">
  <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-backward gs-mr-2" aria-hidden="true"></span>Indietro</a></li>
  <li class="disabled"><a href="#">Sedi</a></li>
  <li class="disabled"><a href="#">Corsi</a></li>
  <li class="disabled"><a href="#">Classi</a></li>
  <li class="disabled"><a href="#">Materie</a></li>
  <li class="disabled"><a href="#">Festività</a></li>
  <li class="disabled"><a href="#">Orario</a></li>
</ul>
{% endblock %}
