{% extends 'base.html.twig' %}

{% block pagina_menu %}
  {% include 'ruolo_docente/menu.html.twig' with {'attivo': 'documenti'} %}
{% endblock %}

{% block pagina_submenu %}
  {% include 'ruolo_docente/menu_documenti.html.twig' %}
{% endblock %}

{% block pagina_contenuto %}
<div class="container-fluid">
</div>
{% endblock %}
