{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <div class="alert alert-danger gs-mt-5 text-center" role="alert">
    <div class="gs-mb-5">
      <strong class="gs-big">ERRORE SUL SERVER</strong>
    </div>
    <div class="gs-mb-5">
      <strong class="gs-big">Si è verificaro un errore imprevisto sul server. [Errore 500]</strong>
    </div>
  </div>
</div>
{% endblock %}
