{% extends 'base.html.twig' %}

{% block pagina_contenuto %}
<div class="container">
  <div class="alert alert-danger gs-mt-5 text-center" role="alert">
    <div class="gs-mb-5">
      <strong class="gs-big">PAGINA NON TROVATA</strong>
    </div>
    <div class="gs-mb-5">
      <strong class="gs-big">La pagina indicata non esiste. [Errore 404]</strong>
    </div>
  </div>
</div>
{% endblock %}
