<nav>
  <ul class="nav nav-tabs">
    <li role="presentation"{{ attivo is defined and attivo == 'avvisi' ? ' class="active"' }}><a href="{{ path('genitori_avvisi') }}" title="Visualizza gli avvisi indirizzati al genitore">Avvisi</a></li>
  </ul>
</nav>
