<nav class="gs-navbar-submenu">
  <ul class="nav nav-tabs">
    <li role="presentation"{{ app.request.attributes.get('_route') == 'bacheca_avvisi' ? ' class="active"' }}><a href="{{ path('bacheca_avvisi') }}" title="Visualizza gli avvisi indirizzati al docente">Avvisi</a></li>
    <li role="presentation"{{ app.request.attributes.get('_route') == 'circolari_docenti' ? ' class="active"' }}><a href="{{ path('circolari_docenti') }}" title="Visualizza le circolari indirizzati al docente">Circolari</a></li>
  </ul>
</nav>

