name: Build

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

#      - name: Push to GitHub Packages
#        uses: docker/build-push-action@v1
#        with:
#          file: ./docker/Dockerfile
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#          registry: docker.pkg.github.com
#          repository: trinko/giuaschool/giuaschool-test
#          tag_with_ref: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
     
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: user/app:latest
         # build-args: |
         #   arg1=value1
         #   arg2=value2
      
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
        
