name: Test and deploy

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:

  test-phpunit:
    name: PhpUnit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build docker image and run phpunit
        run: |
          docker build -t "gs:test" -f tests/docker/Dockerfile .
          docker run --name "gs_test" --add-host=giuaschool_test:127.0.0.1 --add-host=chrome_headless:127.0.0.1 gs:test tests/docker/test-phpunit.sh
          docker cp gs_test:/var/www/giuaschool/clover.xml clover.xml

      - name: Codacy coverage report
        if: ${{ github.event_name == 'push' }}
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: clover.xml

  feature-matrix:
    name: Create feature matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set matrix of features
        id: set-matrix
        run: echo "::set-output name=matrix::$(ls tests/features/* | jq -R -s -c 'split("\n")[:-1]')"

  test-behat:
    name: Behat tests
    needs: feature-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature: ${{ fromJson(needs.feature-matrix.outputs.matrix) }}
    steps:

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set swap space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 5

      - name: Build docker image and run behat
        run: |
          docker build -t "gs:test" -f tests/docker/Dockerfile .
          docker run --add-host=giuaschool_test:127.0.0.1 --add-host=chrome_headless:127.0.0.1 gs:test tests/docker/test-behat.sh ${{ matrix.feature }}

  deploy:
    if: ${{ github.event_name == 'push' }}
    needs: [test-phpunit, test-behat]
    name: Deploy release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Generate changelog from latest release
        id: changelog
        uses: metcalfc/changelog-generator@v3.0.0
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Get latest release tag
        id: latest-release
        uses: jossef/action-latest-release-info@v1

      - name: Create archive for update code
        run: |
          docker build -t "gs:prod" --target application_prod -f tests/docker/Dockerfile .
          docker run --name "gs_update" gs:prod tests/docker/update.sh ${{ steps.latest-release.outputs.created_at }}
          docker cp gs_update:/var/www/giuaschool/giuaschool-update.zip giuaschool-update-${{ steps.latest-release.outputs.tag_name }}.zip

      - name: Upload update code
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: update-${{ steps.latest-release.outputs.tag_name }}
          name: "Aggiornamento della versione ${{ steps.latest-release.outputs.tag_name }}"
          body: ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: true
          artifacts: giuaschool-update-${{ steps.latest-release.outputs.tag_name }}.zip
          allowUpdates: true
          artifactErrorsFailBuild: true
          replacesArtifacts: true

      - name: Generate changelog page
        run: |
          mkdir docs
          echo "---" > docs/latest-build.md
          echo "layout: default" >> docs/latest-build.md
          echo "title: Ultimo aggiornamento" >> docs/latest-build.md
          echo "nav_order: 11" >> docs/latest-build.md
          echo "---" >> docs/latest-build.md
          echo "" >> docs/latest-build.md
          echo "# Ultimo aggiornamento"  >> docs/latest-build.md
          echo "{: .text-center .fw-400 .pb-5}" >> docs/latest-build.md
          echo "" >> docs/latest-build.md
          echo "[**Scarica l'ultimo aggiornamento**](https://github.com/trinko/giuaschool/releases/download/update-${{ steps.latest-release.outputs.tag_name }}/giuaschool-update-${{ steps.latest-release.outputs.tag_name }}.zip)" >> docs/latest-build.md
          echo "{: .text-center .pb-5}" >> docs/latest-build.md
          echo "" >> docs/latest-build.md
          echo "Data e ora dell'ultimo aggiornamento: `TZ='Europe/Rome' date +'%d/%m/%Y %H:%M'`" >> docs/latest-build.md
          echo "" >> docs/latest-build.md
          echo "Lista delle modifiche effettuate dopo il rilascio della Versione {{ site.data.version.tag }}:"  >> docs/latest-build.md
          echo "" >> docs/latest-build.md
          echo "${{ steps.changelog.outputs.changelog }}"  >> docs/latest-build.md

      - name: Add changelog page to documentation
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: 'docs/latest-build.md'
          destination_repo: 'trinko/giuaschool-docs'
          destination_branch: 'master'
          user_name: ${{ github.actor }}
          user_email: '${{ github.actor }}@users.noreply.github.com'
          commit_message: 'Add changelog page to documentation'
