<p>
  <strong>ISTITUTO DI ISTRUZIONE SUPERIORE</strong><br>
  <strong><i>{{ app.session->get('/CONFIG/SCUOLA/intestazione_istituto_nome') }}</i></strong>
</p>
<p>&nbsp;</p>
<p>Si trasmettono in allegato le credenziali di accesso al Registro Elettronico.</p>
<p>&nbsp;</p>
<hr>
<p>
  <em>
    ATTENZIONE: questo messaggio è stato generato automaticamente.<br>
    La preghiamo pertanto di non rispondere a questa e-mail perché le eventuali comunicazioni andrebbero perse.
  </em>
</p>
<p>&nbsp;</p>
