---
layout: default
title: Ultima versione
nav_order: 10
---

# Ultimo versione
{: .text-center .fw-400 .pb-5}

[**Scarica la Versione {{ site.data.version.tag }}**](https://github.com/iisgiua/giuaschool/releases/download/v{{ site.data.version.tag }}/giuaschool-release-v{{ site.data.version.tag }}.zip)
{: .text-center .pb-5}

Data e ora di rilascio: ${TIMESTAMP}

Lista delle modifiche incluse nella nuova versione:

${CHANGELOG}
