---
layout: default
title: Ultimo aggiornamento
nav_order: 11
---

# Ultimo aggiornamento
{: .text-center .fw-400 .pb-5}

_Le modifiche seguenti non sono ancora validate né definitive:<br>se ne sconsiglia l'installazione se non in ambiente di test_
{: .text-center .pb-5}

**Data e ora dell'ultimo aggiornamento: ${TIMESTAMP}**

Lista delle modifiche effettuate dopo il rilascio della Versione {{ site.data.version.tag }}:

${CHANGELOG}
